@import "xl-bootstrap.css";
@import "xing.css";
@import "logo.css";
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}
/* 
* @Author: xiaoli
* @Date:   2019-11-18
* @Last Modified by:   xiaoli
* @Last Modified time: 2019-11-18
*/
.transform {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
}
@keyframes daohang {
  0% {
    bottom: 0%;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    bottom: -142px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-moz-keyframes daohang {
  /* Firefox */
  0% {
    bottom: 0%;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    bottom: -142px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-webkit-keyframes daohang {
  /* Safari 和 Chrome */
  0% {
    bottom: 0%;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    bottom: -142px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-o-keyframes daohang {
  /* Opera */
  0% {
    bottom: 0%;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    bottom: -142px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@keyframes daohang2 {
  0% {
    bottom: -142px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    bottom: -142px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-moz-keyframes daohang2 {
  /* Firefox */
  0% {
    bottom: -142px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    bottom: -142px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-webkit-keyframes daohang2 {
  /* Safari 和 Chrome */
  0% {
    bottom: -142px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    bottom: -142px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-o-keyframes daohang2 {
  /* Opera */
  0% {
    bottom: -142px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    bottom: -142px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@keyframes beijing1 {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -142px;
  }
}
@-moz-keyframes beijing1 {
  /* Firefox */
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -142px;
  }
}
@-webkit-keyframes beijing1 {
  /* Safari 和 Chrome */
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -142px;
  }
}
@-o-keyframes beijing1 {
  /* Opera */
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -142px;
  }
}
@keyframes beijing11 {
  0% {
    background-position-y: -142px;
  }
  100% {
    background-position-y: -142px;
  }
}
@-moz-keyframes beijing11 {
  /* Firefox */
  0% {
    background-position-y: -142px;
  }
  100% {
    background-position-y: -142px;
  }
}
@-webkit-keyframes beijing11 {
  /* Safari 和 Chrome */
  0% {
    background-position-y: -142px;
  }
  100% {
    background-position-y: -142px;
  }
}
@-o-keyframes beijing11 {
  /* Opera */
  0% {
    background-position-y: -142px;
  }
  100% {
    background-position-y: -142px;
  }
}
@keyframes duilian {
  0% {
    width: auto;
    height: 0px;
  }
  100% {
    width: auto;
    height: 100%;
  }
}
@-moz-keyframes duilian {
  /* Firefox */
  0% {
    width: auto;
    height: 0px;
  }
  100% {
    width: auto;
    height: 100%;
  }
}
@-webkit-keyframes duilian {
  /* Safari 和 Chrome */
  0% {
    width: auto;
    height: 0px;
  }
  100% {
    width: auto;
    height: 100%;
  }
}
@-o-keyframes duilian {
  /* Opera */
  0% {
    width: auto;
    height: 0px;
  }
  100% {
    width: auto;
    height: 100%;
  }
}
@keyframes yincang {
  0% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes yincang {
  /* Firefox */
  0% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes yincang {
  /* Safari 和 Chrome */
  0% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-o-keyframes yincang {
  /* Opera */
  0% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes tou {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-moz-keyframes tou {
  /* Firefox */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-webkit-keyframes tou {
  /* Safari 和 Chrome */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-o-keyframes tou {
  /* Opera */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@keyframes zuo {
  0% {
    left: -10%;
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  100% {
    left: 0;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-moz-keyframes zuo {
  /* Firefox */
  0% {
    left: -10%;
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  100% {
    left: 0;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-webkit-keyframes zuo {
  /* Safari 和 Chrome */
  0% {
    left: -10%;
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  100% {
    left: 0;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-o-keyframes zuo {
  /* Opera */
  0% {
    left: -10%;
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  100% {
    left: 0;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@keyframes you {
  0% {
    right: -10%;
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  100% {
    right: 0;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-moz-keyframes you {
  /* Firefox */
  0% {
    right: -10%;
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  100% {
    right: 0;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-webkit-keyframes you {
  /* Safari 和 Chrome */
  0% {
    right: -10%;
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  100% {
    right: 0;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-o-keyframes you {
  /* Opera */
  0% {
    right: -10%;
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  100% {
    right: 0;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@keyframes dong {
  0% {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  50% {
    -webkit-transform: translate(0%, 0.3%);
    -moz-transform: translate(0%, 0.3%);
    -ms-transform: translate(0%, 0.3%);
    -o-transform: translate(0%, 0.3%);
    transform: translate(0%, 0.3%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-moz-keyframes dong {
  /* Firefox */
  0% {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  50% {
    -webkit-transform: translate(0%, 0.3%);
    -moz-transform: translate(0%, 0.3%);
    -ms-transform: translate(0%, 0.3%);
    -o-transform: translate(0%, 0.3%);
    transform: translate(0%, 0.3%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-webkit-keyframes dong {
  /* Safari 和 Chrome */
  0% {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  50% {
    -webkit-transform: translate(0%, 0.3%);
    -moz-transform: translate(0%, 0.3%);
    -ms-transform: translate(0%, 0.3%);
    -o-transform: translate(0%, 0.3%);
    transform: translate(0%, 0.3%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-o-keyframes dong {
  /* Opera */
  0% {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  50% {
    -webkit-transform: translate(0%, 0.3%);
    -moz-transform: translate(0%, 0.3%);
    -ms-transform: translate(0%, 0.3%);
    -o-transform: translate(0%, 0.3%);
    transform: translate(0%, 0.3%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@keyframes guang2 {
  0% {
    -webkit-transform: scale(1) translate(0%, -50%);
    -moz-transform: scale(1) translate(0%, -50%);
    -ms-transform: scale(1) translate(0%, -50%);
    -o-transform: scale(1) translate(0%, -50%);
    transform: scale(1) translate(0%, -50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  50% {
    -webkit-transform: scale(1.04) translate(0%, -50%);
    -moz-transform: scale(1.04) translate(0%, -50%);
    -ms-transform: scale(1.04) translate(0%, -50%);
    -o-transform: scale(1.04) translate(0%, -50%);
    transform: scale(1.04) translate(0%, -50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: scale(1) translate(0%, -50%);
    -moz-transform: scale(1) translate(0%, -50%);
    -ms-transform: scale(1) translate(0%, -50%);
    -o-transform: scale(1) translate(0%, -50%);
    transform: scale(1) translate(0%, -50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
}
@-moz-keyframes guang2 {
  /* Firefox */
  0% {
    -webkit-transform: scale(1) translate(0%, -50%);
    -moz-transform: scale(1) translate(0%, -50%);
    -ms-transform: scale(1) translate(0%, -50%);
    -o-transform: scale(1) translate(0%, -50%);
    transform: scale(1) translate(0%, -50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  50% {
    -webkit-transform: scale(1.04) translate(0%, -50%);
    -moz-transform: scale(1.04) translate(0%, -50%);
    -ms-transform: scale(1.04) translate(0%, -50%);
    -o-transform: scale(1.04) translate(0%, -50%);
    transform: scale(1.04) translate(0%, -50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: scale(1) translate(0%, -50%);
    -moz-transform: scale(1) translate(0%, -50%);
    -ms-transform: scale(1) translate(0%, -50%);
    -o-transform: scale(1) translate(0%, -50%);
    transform: scale(1) translate(0%, -50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
}
@-webkit-keyframes guang2 {
  /* Safari 和 Chrome */
  0% {
    -webkit-transform: scale(1) translate(0%, -50%);
    -moz-transform: scale(1) translate(0%, -50%);
    -ms-transform: scale(1) translate(0%, -50%);
    -o-transform: scale(1) translate(0%, -50%);
    transform: scale(1) translate(0%, -50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  50% {
    -webkit-transform: scale(1.04) translate(0%, -50%);
    -moz-transform: scale(1.04) translate(0%, -50%);
    -ms-transform: scale(1.04) translate(0%, -50%);
    -o-transform: scale(1.04) translate(0%, -50%);
    transform: scale(1.04) translate(0%, -50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: scale(1) translate(0%, -50%);
    -moz-transform: scale(1) translate(0%, -50%);
    -ms-transform: scale(1) translate(0%, -50%);
    -o-transform: scale(1) translate(0%, -50%);
    transform: scale(1) translate(0%, -50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
}
@-o-keyframes guang2 {
  /* Opera */
  0% {
    -webkit-transform: scale(1) translate(0%, -50%);
    -moz-transform: scale(1) translate(0%, -50%);
    -ms-transform: scale(1) translate(0%, -50%);
    -o-transform: scale(1) translate(0%, -50%);
    transform: scale(1) translate(0%, -50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  50% {
    -webkit-transform: scale(1.04) translate(0%, -50%);
    -moz-transform: scale(1.04) translate(0%, -50%);
    -ms-transform: scale(1.04) translate(0%, -50%);
    -o-transform: scale(1.04) translate(0%, -50%);
    transform: scale(1.04) translate(0%, -50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: scale(1) translate(0%, -50%);
    -moz-transform: scale(1) translate(0%, -50%);
    -ms-transform: scale(1) translate(0%, -50%);
    -o-transform: scale(1) translate(0%, -50%);
    transform: scale(1) translate(0%, -50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
}
@keyframes guang1 {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  50% {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
}
@-moz-keyframes guang1 {
  /* Firefox */
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  50% {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
}
@-webkit-keyframes guang1 {
  /* Safari 和 Chrome */
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  50% {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
}
@-o-keyframes guang1 {
  /* Opera */
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  50% {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
}
@keyframes guang1-1 {
  0% {
    -webkit-transform: scale(1) translate(0%, 50%);
    -moz-transform: scale(1) translate(0%, 50%);
    -ms-transform: scale(1) translate(0%, 50%);
    -o-transform: scale(1) translate(0%, 50%);
    transform: scale(1) translate(0%, 50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  50% {
    -webkit-transform: scale(1.04) translate(0%, 50%);
    -moz-transform: scale(1.04) translate(0%, 50%);
    -ms-transform: scale(1.04) translate(0%, 50%);
    -o-transform: scale(1.04) translate(0%, 50%);
    transform: scale(1.04) translate(0%, 50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: scale(1) translate(0%, 50%);
    -moz-transform: scale(1) translate(0%, 50%);
    -ms-transform: scale(1) translate(0%, 50%);
    -o-transform: scale(1) translate(0%, 50%);
    transform: scale(1) translate(0%, 50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
}
@-moz-keyframes guang1-1 {
  /* Firefox */
  0% {
    -webkit-transform: scale(1) translate(0%, 50%);
    -moz-transform: scale(1) translate(0%, 50%);
    -ms-transform: scale(1) translate(0%, 50%);
    -o-transform: scale(1) translate(0%, 50%);
    transform: scale(1) translate(0%, 50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  50% {
    -webkit-transform: scale(1.04) translate(0%, 50%);
    -moz-transform: scale(1.04) translate(0%, 50%);
    -ms-transform: scale(1.04) translate(0%, 50%);
    -o-transform: scale(1.04) translate(0%, 50%);
    transform: scale(1.04) translate(0%, 50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: scale(1) translate(0%, 50%);
    -moz-transform: scale(1) translate(0%, 50%);
    -ms-transform: scale(1) translate(0%, 50%);
    -o-transform: scale(1) translate(0%, 50%);
    transform: scale(1) translate(0%, 50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
}
@-webkit-keyframes guang1-1 {
  /* Safari 和 Chrome */
  0% {
    -webkit-transform: scale(1) translate(0%, 50%);
    -moz-transform: scale(1) translate(0%, 50%);
    -ms-transform: scale(1) translate(0%, 50%);
    -o-transform: scale(1) translate(0%, 50%);
    transform: scale(1) translate(0%, 50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  50% {
    -webkit-transform: scale(1.04) translate(0%, 50%);
    -moz-transform: scale(1.04) translate(0%, 50%);
    -ms-transform: scale(1.04) translate(0%, 50%);
    -o-transform: scale(1.04) translate(0%, 50%);
    transform: scale(1.04) translate(0%, 50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: scale(1) translate(0%, 50%);
    -moz-transform: scale(1) translate(0%, 50%);
    -ms-transform: scale(1) translate(0%, 50%);
    -o-transform: scale(1) translate(0%, 50%);
    transform: scale(1) translate(0%, 50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
}
@-o-keyframes guang1-1 {
  /* Opera */
  0% {
    -webkit-transform: scale(1) translate(0%, 50%);
    -moz-transform: scale(1) translate(0%, 50%);
    -ms-transform: scale(1) translate(0%, 50%);
    -o-transform: scale(1) translate(0%, 50%);
    transform: scale(1) translate(0%, 50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
  50% {
    -webkit-transform: scale(1.04) translate(0%, 50%);
    -moz-transform: scale(1.04) translate(0%, 50%);
    -ms-transform: scale(1.04) translate(0%, 50%);
    -o-transform: scale(1.04) translate(0%, 50%);
    transform: scale(1.04) translate(0%, 50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
    -webkit-transform: scale(1) translate(0%, 50%);
    -moz-transform: scale(1) translate(0%, 50%);
    -ms-transform: scale(1) translate(0%, 50%);
    -o-transform: scale(1) translate(0%, 50%);
    transform: scale(1) translate(0%, 50%);
    opacity: 0.4;
    filter: alpha(opacity=0.4);
  }
}
@keyframes logo {
  0% {
    -webkit-transform: translate(-50%, -30%);
    -moz-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    -o-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-moz-keyframes logo {
  /* Firefox */
  0% {
    -webkit-transform: translate(-50%, -30%);
    -moz-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    -o-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-webkit-keyframes logo {
  /* Safari 和 Chrome */
  0% {
    -webkit-transform: translate(-50%, -30%);
    -moz-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    -o-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-o-keyframes logo {
  /* Opera */
  0% {
    -webkit-transform: translate(-50%, -30%);
    -moz-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    -o-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@keyframes logo2 {
  0% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-moz-keyframes logo2 {
  /* Firefox */
  0% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-webkit-keyframes logo2 {
  /* Safari 和 Chrome */
  0% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
@-o-keyframes logo2 {
  /* Opera */
  0% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
.bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../images/bg.jpg') no-repeat center center;
  background-size: cover ;
}
.bg .zhongxin {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  z-index: 99;
}
.bg .zhongxin .activeBox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  -o-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  width: 1000px;
  height: 500px;
  overflow-x: hidden;
  text-align: center;
  z-index: 80;
}
.bg .zhongxin .activeBox img {
  display: inline-block;
}
.bg .zhongxin .activeBox::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 2px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.bg .zhongxin .activeBox::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 2px;
  background-color: #d63120;
}
.bg .zhongxin .activeBox::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  background: #f1f1f1;
  border-radius: 2px;
}
.bg .navBox {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 392px;
  height: 142px;
  z-index: 99;
}
.bg .navBox .nav {
  width: 56px;
  height: 142px;
  display: block;
  float: left;
  overflow: hidden;
  position: relative;
  background: url('../images/nav.png') no-repeat;
  background-size: 392px 284px;
}
.bg .navBox .nav:hover {
  -webkit-animation: beijing1 0.6s ease-out;
  -moz-animation: beijing1 0.6s ease-out;
  -ms-animation: beijing1 0.6s ease-out;
  -o-animation: beijing1 0.6s ease-out;
  animation: beijing1 0.6s ease-out;
  animation-fill-mode: forwards;
}
.bg .navBox .nav.dq,
.bg .navBox .nav.router-link-exact-active {
  background-position-y: -142px;
  -webkit-animation: beijing11 0.6s ease-out;
  -moz-animation: beijing11 0.6s ease-out;
  -ms-animation: beijing11 0.6s ease-out;
  -o-animation: beijing11 0.6s ease-out;
  animation: beijing11 0.6s ease-out;
  animation-fill-mode: forwards;
}
.bg .navBox .nav1 {
  background-position: 0px 0px;
}
.bg .navBox .nav2 {
  background-position: -56px 0px;
}
.bg .navBox .nav3 {
  background-position: -112px 0px;
}
.bg .navBox .nav4 {
  background-position: -168px 0px;
}
.bg .navBox .nav5 {
  background-position: -224px 0px;
}
.bg .navBox .nav6 {
  background-position: -280px 0px;
}
.bg .navBox .nav7 {
  background-position: -336px 0px;
}
.bg .logo {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: logo 4s 8s ease;
  -moz-animation: logo 4s 8s ease;
  -ms-animation: logo 4s 8s ease;
  -o-animation: logo 4s 8s ease;
  animation: logo 4s 8s ease;
  animation-fill-mode: forwards;
  z-index: 999;
}
.bg .logozi {
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -160px;
  animation-fill-mode: forwards;
  z-index: 10;
}
.bg .duilianbox {
  z-index: 50;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  height: 660px;
  -webkit-animation: yincang 0.5s 7s ease;
  -moz-animation: yincang 0.5s 7s ease;
  -ms-animation: yincang 0.5s 7s ease;
  -o-animation: yincang 0.5s 7s ease;
  animation: yincang 0.5s 7s ease;
  animation-fill-mode: forwards;
}
.bg .duilian {
  overflow: hidden;
  width: 180px;
  /* opacity: 0; */
  height: 0;
}
.bg .duilian img {
  width: 100%;
}
.bg .duilian1 {
  -webkit-animation: duilian 4s 2s ease;
  -moz-animation: duilian 4s 2s ease;
  -ms-animation: duilian 4s 2s ease;
  -o-animation: duilian 4s 2s ease;
  animation: duilian 4s 2s ease;
  animation-fill-mode: forwards;
}
.bg .duilian2 {
  -webkit-animation: duilian 4s ease;
  -moz-animation: duilian 4s ease;
  -ms-animation: duilian 4s ease;
  -o-animation: duilian 4s ease;
  animation: duilian 4s ease;
  animation-fill-mode: forwards;
}
.bg .logo2 {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 88;
}
.bg .zi {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bg .zrulaidw {
  width: 400px;
  height: 653px;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.bg .zrulaibox {
  -webkit-animation: zuo 0.6s ease-out;
  -moz-animation: zuo 0.6s ease-out;
  -ms-animation: zuo 0.6s ease-out;
  -o-animation: zuo 0.6s ease-out;
  animation: zuo 0.6s ease-out;
}
.bg .zrulaibg {
  background: url('../images/zrulaibg.png') no-repeat center center;
  background-size: cover;
}
.bg .zrulai {
  width: 100%;
  height: 100%;
  background: url('../images/zrulai.png') no-repeat center center;
  background-size: cover;
}
.bg .zlongdw {
  width: 560px;
  height: 565px;
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.bg .zlongbox {
  -webkit-animation: you 0.6s ease-out;
  -moz-animation: you 0.6s ease-out;
  -ms-animation: you 0.6s ease-out;
  -o-animation: you 0.6s ease-out;
  animation: you 0.6s ease-out;
}
.bg .zlongbg {
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  background: url('../images/zlongbg.png') no-repeat center center;
  background-size: cover;
}
.bg .zlong {
  width: 100%;
  height: 100%;
  -webkit-animation: dong 2s infinite ease;
  -moz-animation: dong 2s infinite ease;
  -ms-animation: dong 2s infinite ease;
  -o-animation: dong 2s infinite ease;
  animation: dong 2s infinite ease;
  background: url('../images/zlong.png') no-repeat center center;
  background-size: cover;
}
.bg .guang1 {
  -webkit-animation: guang1 4.2s infinite ease-out;
  -moz-animation: guang1 4.2s infinite ease-out;
  -ms-animation: guang1 4.2s infinite ease-out;
  -o-animation: guang1 4.2s infinite ease-out;
  animation: guang1 4.2s infinite ease-out;
}
.bg .guang2 {
  -webkit-animation: guang2 4.2s infinite ease-out;
  -moz-animation: guang2 4.2s infinite ease-out;
  -ms-animation: guang2 4.2s infinite ease-out;
  -o-animation: guang2 4.2s infinite ease-out;
  animation: guang2 4.2s infinite ease-out;
}
.bg .footer {
  width: 100%;
  text-align: center;
  color: #5e4d44;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 0;
}
.xings2,
.ydBox,
.yd-navBox {
  display: none;
}
@media (min-width: 1930px) {
  .bg .zrulaidw {
    bottom: 0%;
    left: 0%;
  }
  .bg .zrulaibg {
    -webkit-animation: guang1-1 4.2s infinite ease-out;
    -moz-animation: guang1-1 4.2s infinite ease-out;
    -ms-animation: guang1-1 4.2s infinite ease-out;
    -o-animation: guang1-1 4.2s infinite ease-out;
    animation: guang1-1 4.2s infinite ease-out;
  }
}
@media (max-width: 1600px) {
  .bg .zrulaidw {
    width: 300px;
    height: 490px;
  }
  .bg .zlongdw {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1400px) {
  .bg .zrulaidw {
    width: 250px;
    height: 408px;
  }
  .bg .zlongdw {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 1200px) {
  body.on:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 8888;
  }
  .yd-nav-box {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    display: block;
    height: 60px;
  }
  .yd-nav-box .yd-logo {
    width: 70px;
  }
  .yd-nav-box .yd-logo img {
    width: 100%;
  }
  .yd-nav {
    width: 30px;
    padding: 20px 0 0px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
  }
  .yd-nav.on {
    padding-top: 24px;
  }
  .yd-nav.on span {
    display: none;
  }
  .yd-nav.on span:first-child {
    display: inline-block;
    -webkit-transform: rotate(45deg);
  }
  .yd-nav.on span:first-child:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #ff0;
    -webkit-transform: rotate(-90deg);
  }
  .yd-nav span {
    float: right;
    display: block;
    width: 100%;
    height: 4px;
    margin: 0px 0 5px;
    border-radius: 4px;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
    background: #ff0;
  }
  .yd-nav span:nth-of-type(2) {
    width: 86%;
  }
  .yd-text {
    position: fixed;
    top: 0px;
    right: -200px;
    padding-top: 40px;
    z-index: 9999;
    width: 200px;
    height: 100%;
    background: #d63120 url('../images/zlong.png') no-repeat bottom right;
    background-size: 100%;
  }
  .yd-text .yijiNav {
    width: 100%;
  }
  .yd-text .yijiNav a {
    display: block;
    width: 100%;
    height: 42px;
    line-height: 42px;
    color: #fff;
    text-align: center;
  }
}
@media (max-width: 720px) {
  .nava {
    display: none;
  }
  .ydBox {
    display: block;
  }
  .bg .logo {
    width: 70%;
    -webkit-animation: logo2 2s 12s ease;
    -moz-animation: logo2 2s 12s ease;
    -ms-animation: logo2 2s 12s ease;
    -o-animation: logo2 2s 12s ease;
    animation: logo2 2s 12s ease;
    animation-fill-mode: forwards;
  }
  .bg .footer {
    font-size: 12px;
  }
  .bg .duilianbox {
    width: 80%;
    height: 468px;
  }
  .bg .duilian {
    width: 80px;
  }
  .xings2 {
    display: block;
  }
  .pcBox,
  .nava,
  .xings {
    display: none;
  }
}
@media (max-width: 540px) {
  .bg .duilianbox {
    width: 76%;
    height: 351px;
  }
  .bg .duilian {
    width: 60px;
  }
}
